QPushButton[CD="C"]{
border-radius: 6px;
background: rgba(42, 43, 61, 1);
padding: 10px 16px 10px 16px;
color: rgba(255,255,255,1);
font-size: 16px;
font-weight: 500;
}

QPushButton[CD="C"]:hover{
    background: rgba(120, 133, 253, 0.5);
}