QPushButton[name="btn1"] {
    background-color:red;
    color:yellow;
    height:120;
    font-size:60px;
}
QPushButton[name="btn2"] {
    background-color:blue;
    color:yellow;
    height:60;
    width:120;
    font-size:11px;
}
QPushButton[name="btn2"]:hover {
    background-color:yellow;
    color:blue;
    height:60;
    width:120;
    font-size:11px;
}